.item-cards{
    border-style: none;
}

.panda-card-footer{
    background-color: white;
    border: 0;
}




.navbar--custom-color a{
    color: black;
}

.price-tag{
    color: #76C27E;
}

.banner-left-col img {
    width: 20%;
    margin-right: 0.8em;
}
.banner-right-image img {
    width: 90%;
}


.blogs{
    grid-template-columns: repeat(2, 1fr);
}

.blog{
    display: flex;
    align-items: center;
}

.blogs{
    display: grid;
    grid-gap: 30px;
    margin-top: 20px;
    place-items: center;
}

.thumbnail img{
    width: 200px;
    height: 100px;
    margin-right: 20px;
}

.fashion-blog{
    background-color: rgba(245, 245, 245, 0.89);
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
}
.author-name{
    color:rgba(1, 12, 12, 0.781)
}
@media (max-width:992px){
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:668px){
    .blog{
        display: block;
    }
}


