.item-cards{
    border-style: none;
}

.panda-card-footer{
    background-color: white;
    border: 0;
}




.navbar--custom-color a{
    color: black;
}

.price-tag{
    color: #76C27E;
}

.banner-left-col img {
    width: 20%;
    margin-right: 0.8em;
}
.banner-right-image img {
    width: 90%;
}



